<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div style="flex-direction: column; display: flex">
            <h1>Challan</h1>
            <br />

            <label for="challanNumber">Challan Number</label>
            <span> <%= challanNumber %> </span>
            <br />

            <label for="date">Date</label>
            <span> <%= date.toDateString() %> </span>
            <br />

            <label for="customer">Customer</label>
            <span> <%= customer.shopName %> </span>
            <br />

            <label for="currentBalance">Current Balance</label>
            <span> <%= customer.currentBalance %> </span>
            <br />

            <label for="orders">Orders</label>
            <% orders.forEach(function(order) { %>
            <li>
                Product: <%= order.product.name %><br />
                Price: <%= order.product.wlp %><br />
                Quantity: 1
                <br />
            </li>
            <% }); %>
        </div>
    </body>
</html>
