<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                font-size: 12px;
            }
            .container {
                display: flex;
                width: 100%;
            }
            .container-section {
                width: 50%;
            }
            .tableTop {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                text-align: left;
                thead {
                    justify-content: space-between;
                    border-top: 1px solid #000;
                    border-bottom: 2px solid #000;
                    text-align: center;
                }
                .line_total {
                    border: 1px dashed #000;
                }
            }
            .footer {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                .footer_div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .footer_division {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 70%;
                }
            }
            @page {
                size: 7in 9.25in;
                margin: 27mm 16mm 27mm 16mm;
            }
        </style>
    </head>
    <body>
        <section class="page">
            <div class="tableTop">
                <b>Delivery Challan: <%= challanNumber %></b>
                <p>Date: <%= date %></p>
            </div>
            <br />
            <div class="container">
                <div class="container-section">
                    <b><%= user.shopName %></b>
                    <p>
                        <%= user.addressLine1 %>
                        <br />
                        <%= user.addressLine2 %>
                        <br />
                        <%= user.city %>, <%= user.state %>
                        <br />
                        Pincode - <%= user.pincode %> &nbsp;&nbsp;
                        <br />
                    </p>
                    <p>PHONE: <%= user.phone %> &nbsp;&nbsp;</p>
                    <p>GST No : <%= user.gstNumber %></p>
                </div>
                <div class="container-section">
                    <b>Cust: <%= customer.shopName %></b>
                    <p>
                        <%= customer.addressLine1 %>
                        <br />
                        <%= customer.addressLine2 %>
                        <br />
                        <%= customer.city %>, <%= customer.state %>
                        <br />
                        Pincode - <%= customer.pincode %> &nbsp;&nbsp;
                        <br />
                    </p>
                    <p>PHONE: <%= customer.phone %> &nbsp;&nbsp;</p>
                    <p>GST No : <%= customer.gstNumber %></p>
                </div>
            </div>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>HSN/SAC No</th>
                        <th>Sph</th>
                        <th>Cyl</th>
                        <th>Axis</th>
                        <th>Add</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th colspan="2">CGST</th>
                        <th colspan="2">SGST</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Rate</td>
                        <td>Amount</td>
                        <td>Rate</td>
                        <td>Amount</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= 1 %></td>
                        <td><%= orders.products.hsn %></td>
                        <td><%= orders.r.sph %></td>
                        <td><%= orders.r.cyl %></td>
                        <td><%= orders.r.axis %></td>
                        <td><%= orders.r.add %></td>
                        <td><%= 1 %></td>
                        <td><%= orders.products.wlp / 2 %></td>
                        <td><%= orders.products.cgst %></td>
                        <td>
                            <%= orders.products.wlp + ((orders.products.cgst *
                            orders.products.wlp)/100) %>
                        </td>
                        <td><%= orders.sgst %></td>
                        <%= orders.products.wlp /2 + ((orders.products.sgst *
                        orders.products.wlp)/100) %>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= orders.products.hsn %></td>
                        <td><%= orders.l.sph %></td>
                        <td><%= orders.l.cyl %></td>
                        <td><%= orders.l.axis %></td>
                        <td><%= orders.l.add %></td>
                        <td><%= 1 %></td>
                        <td><%= orders.products.wlp / 2 %></td>
                        <td><%= orders.products.cgst %></td>
                        <td>
                            <%= orders.products.wlp + ((orders.products.cgst *
                            orders.products.wlp)/100) %>
                        </td>
                        <td><%= orders.sgst %></td>
                        <%= orders.products.wlp + ((orders.products.sgst *
                        orders.products.wlp)/100) %>
                    </tr>

                    <tr class="line_total">
                        <td colspan="1"></td>
                        <td colspan="5">Line Total</td>
                        <td colspan="4">2</td>
                        <td colspan="2">64.20</td>
                        <td>64.20</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="9">
                            One Thousand One Hundred Ninety Eight RUPEES
                        </td>
                        <td colspan="2">DC Total</td>
                        <td>
                            <%= orders.products.wlp + (((orders.products.sgst +
                            orders.products.cgst) * orders.products.wlp)/100) %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="footer">
                <div class="footer_division">
                    <b>NOTE:</b>
                    <b
                        >1) The lenses delivered under this DC are sent on SOA
                        Basis (Sale on Approval)</b
                    >
                    <b>
                        2) If we don't receive any response, it is deemed as
                        confirmation and invoicing will be done on 16th/31st of
                        the same month
                    </b>
                </div>
                <div class="footer_div">
                    <b><%= user.shopName %></b>
                </div>
            </div>
            <div class="tableTop" style="margin-top: 30px">
                <b></b>
                <b>Authorised Signatory</b>
            </div>
        </section>
    </body>
</html>
