<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .title {
                text-align: center;
                font-weight: bold;
                font-size: medium;
            }
            .invoice {
                border: 0.5px solid black;
            }
            .head_section {
                display: flex;
                flex-direction: column;
                gap: 1px;
                text-align: center;
                padding: 10px;
                b {
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
            .flexContainer {
                display: flex;
                box-sizing: border-box;
            }
            .purpleBg {
                background-color: #6a0dad;
                color: white;
                p {
                    padding: 5px;
                }
            }
            .rightSection {
                width: 50vw;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: end;
                p {
                    float: right;
                }
            }
            table {
                width: 100%;
                text-align: center;
                border: 1px solid black;
                border-collapse: collapse;
                .totalRow {
                    font-weight: bold;
                }
            }
            .noBorderTable {
                width: 100%;
                text-align: center;
                .totalRow {
                    font-weight: bold;
                }
            }
            table td {
                border: 1px solid black;
            }
            .noBorderTable td {
                border: none;
            }
            .borderBottom {
                border-bottom: 1px solid black;
            }
            .border {
                border: 1px solid black;
                width: 50%;
                p {
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
            }
            .threePartition {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .borderBox {
                    border: 1px solid black;
                }
            }
            .signature {
                padding-top: 20px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <p class="title">Tax Invoice</p>
        <div class="invoice">
            <div class="head_section">
                <b> <%= user.shopName %> </b>
                <p>
                    <%= user.addressLine1 %> <%= user.addressLine2 %> <%=
                    user.city %>, <%= user.state %>
                    <br />
                    Phone no.: <%= user.phone %>
                    <br />
                    GSTIN: <%= user.gstNumber %>
                </p>
            </div>
            <div class="flexContainer">
                <div style="width: 50vw">
                    <div class="purpleBg">
                        <p>Bill To:</p>
                    </div>
                    <div>
                        <b><%= customer.shopName %></b>
                        <p>
                            <%= customer.addressLine1 %> <%=
                            customer.addressLine2 %> <%= customer.city %>, <%=
                            customer.state %>
                            <br />
                        </p>
                        <p>PHONE: <%= customer.phone %> &nbsp;&nbsp;</p>
                        <p>GST No : <%= customer.gstNumber %></p>
                    </div>
                </div>
                <div class="rightSection">
                    <p>
                        Place of Supply: <%= customer.state %>
                        <br />
                        <span>
                            <b> Invoice No.: <%= invoiceNumber %> </b>
                            <br />
                            <p>Date: <%= date %></p>
                        </span>
                    </p>
                </div>
            </div>
            <table>
                <thead>
                    <tr class="purpleBg">
                        <th>S No</th>
                        <th>Challan Number</th>
                        <th>Amount</th>
                        <th>Taxable Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < challans.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= challans[i].challanNumber %></td>
                        <td><%= challans[i].total %></td>
                        <td><%= challans[i].totalAfterTax %></td>
                    </tr>
                    <% } %>

                    <!-- <tr class="totalRow">
                        <td></td>
                        <td>Total</td>
                        <td></td>
                        <td>41</td>
                        <td></td>
                        <td></td>
                        <td>64,020</td>
                        <td>3,841</td>
                        <td>3,841</td>
                        <td>71,702.40</td>
                    </tr> -->
                </tbody>
            </table>
            <div class="flexContainer">
                <div style="width: 50vw; flex-direction: column; display: flex">
                    <p class="purpleBg">Invoice Amount In Words</p>
                    <p><%= amountInWords %> Rupees Only</p>
                    <p class="purpleBg">Payment Mode</p>
                    <p>Credit</p>
                </div>
                <table class="noBorderTable" style="width: 50vw">
                    <thead class="purpleBg">
                        <th>Amounts</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sub Total</td>
                            <td><%= totalAfterTax %></td>
                        </tr>
                        <tr class="borderBottom">
                            <td>Round off</td>
                            <td>
                                <%= Math.round(totalAfterTax) - totalAfterTax %>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td><%= Math.round(totalAfterTax) %></td>
                        </tr>
                        <tr class="borderBottom">
                            <td>Received</td>
                            <td><%= payment %></td>
                        </tr>
                        <tr class="borderBottom">
                            <td>Balance</td>
                            <td><%= totalAfterTax - payment %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="threePartition">
                <div class="borderBox">
                    <p class="purpleBg">Terms and conditions:</p>
                    <p>
                        Thank you for doing business with us. <br />
                        WELCOME AGAIN
                    </p>
                    <p class="purpleBg">Bank details:</p>
                    <p>
                        Bank Name: <%= user.bankName %>, <%= user.bankBranch %>
                        <br />
                        Bank Account No.: <%= user. bankAccountNumber %> <br />
                        Bank IFSC code: <%= user.ifscCode %> <br />
                        Account Holder's Name: <%= user.bankAccountHolderName %>
                    </p>
                </div>
                <div class="signature borderBox">
                    <p>For, <%= user.shopName %></p>
                    <br />
                    <br />
                    <br />
                    <p>Authorised Signatory</p>
                </div>
            </div>
        </div>
    </body>
</html>
